# Ignore only virtual environment files inside django/
django/*
!django/src/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Django environment files
django/src/.env
django/src/db.sqlite3
django/src/media/

# Ignore Next.js dependencies
nextjs-app/node_modules/
nextjs-app/.next/
nextjs-app/out/
nextjs-app/.env.local

# Ignore system files
.DS_Store
Thumbs.db
